# Flutter-related
**/Flutter/ephemeral/
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/

# Flutter-related files
**/build/
**/.dart_tool/
**/.flutter-plugins/
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock

# Android-related files
android/.gradle/
android/app/proguard-rules.pro
**/local.properties


# Windows-related files
windows/flutter/ephemeral/

# Web-related files
web/flutter/.generated/

# VS Code-specific files
.vscode/
*.code-workspace

# Temporary files
*.log
*.tmp
